<ruleset name="coding-style">
    <description>QoboLtd PHRETS coding style</description>

    <rule ref="Generic.PHP.DeprecatedFunctions"/>
    <rule ref="PSR2"/>

    <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
        <exclude-pattern>./tests/</exclude-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <exclude-pattern>./src/Session.php</exclude-pattern>
        <exclude-pattern>./src/Versions/RETSVersion.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.ControlStructures.NewWithParentheses" />
    <rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses" />
    <rule ref="SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation" />
    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses" />

    <file>./src/</file>
    <file>./tests/</file>
</ruleset>