parameters:
	level: 6
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			identifier: missingType.generics
		-
			identifier: missingType.return
			path: tests
		

includes:
	- phpstan-baseline.neon
