parameters:
    level: 9
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: argument.type
            path: tests
        -
            identifier: method.nonObject
            path: tests
        -
            identifier: missingType.generics
        -
            identifier: missingType.return
            path: tests


includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
